!!! 5
html
  head
    title Node.js / Backbone
    link(rel='stylesheet', href='stylesheets/styles.css')
    script(src='jquery.js')
    script(src='backbone.js')

  body
    h1 Tasks
    div#tasks 

